body{
    background-color: aquamarine;
}

.cell {
    /* width: calc(100% / 10); */
    aspect-ratio: 1 / 1;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: var(--bs-purple);
}

.bg_light_blue {
    background-color: aqua;
}